.App {
  /*text-align: center;*/
  width: 90%;
  margin: 50px auto;
}

.controls {
  margin-top: 20px;
}

.main-header {
  margin-bottom: 40px;
}

.title {
  font-family: 'Spirax', cursive;
  font-weight: 100;
  text-align: left;
  font-size: 35pt;
  margin: 0;
}

.subtitle {
  font-size: 12pt;
  padding-left: 5px;
  display: inline-block;
  font-weight: 100;
  font-family: 'Lato', serif;
  line-height: 1em;
  color: #545454;
}

.cardsWrap {
  display: flex;
  flex-wrap: wrap;
}
